body {
    background: #FCFCFC;
    margin: 0 auto;
}

.root {
    display: flex;
    height: 100vh; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

li {
	list-style-type: none;
	list-style: none;
    padding-right: 40px;
}

a {
    text-decoration: none;
    color: #000000;
}


/* nav바 */
.navbar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 67px;
    background-color: #F0E3F8;
    align-items: center;
    justify-content: space-around;
    font-family: 'GangwonEduAll';
    font-size: 20px;
    color: #000000;
}

.navbar__menu {
    display: flex;
    flex-direction: row;
    color: #000000;
}

.main-title {
    font-family: 'GangwonEduAll', Arial, sans-serif;
    color: #000000; 
    text-align: center;
    font-size: 24px; /* 원하는 폰트 크기로 조절 */
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 2023px;  /* height를 min-height로 변경 */
    left: 0px;
    bottom: 0px;
    width: 100%;
    font-size: 10px;
    font-family: 'Inter';
    background-color: #F0E3F8;
    margin-top: 30px;
    color: #404040;
}